<div fxLayout fxLayoutAlign="center center">

  <mat-card>

    <mat-card-title class="card-avatar" fxLayoutAlign="center center"> <img src="../../../assets/images/login.png" alt=""> </mat-card-title>

    <mat-card-subtitle fxLayoutAlign="center center">
      <button (click)="onExternalLogin('facebook')" md-fab class="button-facebook"></button>
      <button (click)="onExternalLogin('google')" md-fab class="button-google"></button>
      <button (click)="onExternalLogin('twitter')" md-fab class="button-twitter"></button>
    </mat-card-subtitle>

    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm">

        <mat-form-field>
          <input matInput placeholder="E-mail" type="email" ngModel name="email" email required>
          <mat-error>Deve ser um endereço de e-mail válido!</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Deve ter no mínimo 6 carateres">
          <input matInput placeholder="Senha" type="password" ngModel name="password" required minlength="6">
        </mat-form-field>

        <mat-checkbox ngModel name="salvarUsuarioSenha" color="primary">Salvar usuário e senha.</mat-checkbox>

      </form>
    </mat-card-content>

    <mat-card-actions fxLayout="column" fxLayoutGap="10px">
      <button mat-stroked-button (click)="onLoginClicked(f)" [disabled]="f.invalid">Login</button>
      <button mat-stroked-button routerLink="/signup">Registrar</button>
    </mat-card-actions>

  </mat-card>

</div>
