/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.plazaz-splashscreen {
    background-image: url("./assets/images/plazaz-background.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    opacity: 1;
}

.button-facebook {
    background-image: url("./assets/images/iconFacebookLarge.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-style: none;
    width: 40px;
    height: 40px;
}

.button-google {
    background-image: url("./assets/images/iconGoogleLarge.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-style: none;
    width: 40px;
    height: 40px;
}

.button-twitter {
    background-image: url("./assets/images/iconTwitterLarge.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-style: none;
    width: 40px;
    height: 40px;
}

.card-avatar {
    margin: -50px auto 0;
    overflow: hidden;
    padding: 0;
}