@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-pink);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

.table-card {
    border: 0;
    margin: 50px;
    border-radius: 10px;
    color: darkgray;
    background: lightgray;
    width: 100%;
}

.table-header {
    margin-left: 25px;
    margin-right: 20px;
    margin-top: -40px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border-bottom: none;
    color: white;
    background:$accent;
}

.table-title {
    margin-top: 0.625rem;
}

.table-content {
    background-color: transparent;
    margin: 50px;
    width: 100%;
}